libtorch/
build/
src/old_src/
old_drivers/
CMakeFiles/
*.txt
!CMakeLists.txt
Makefile
*.cmake
torch_1x1
torch_pool
torch_conv
torch_dw
torch_pool_fused
torch_pool_complete
torch_pool_incomplete
*~
*.asm
*.pdf
perf*
torch_pool*
seq_torch_pool*
.vscode/
Results/
